<html>
<head>
</head>
<title><%= User.name %></title>
<body>
<h1>Hello <%= User.name %></h1>
    <hr>
    <h2> You information: </h2><br>

    <h3>FIO:</h3>

    <h3><%= User.name%> <%=User.lname %></h3><br>

    <h3>E-mail:</h3>

    <h3><%= User.email %></h3><br>

    <h3>BD:</h3>

    <h3><%= User.birthdate %></h3><br>
    <hr>
</body>
</html>